<!-- <div class="alert bg-main text-light text-center">
    <h3>Danh mục</h3>
</div> -->
<div ng-controller="category" class="card p-2">
  <p class="text-center w-responsive mx-auto mb-5 h4">DANH MỤC</p>
    <div class="row">
        <!-- CARD TWO -->
        <div ng-repeat="subject in subjectsPage" class="col-xl-3 col-md-6 mb-4">
          <div class="card h-100 border-0 shadow">
            <a href="#/quiz/{{ subject.Id }}">
              <img src="/images/logos/{{  subject.Logo }}" alt="{{  subject.Name }}" class="card-img-top w-55">
            </a>
            <div class="card-body text-center">
              <h5 class="card-title mb-0">{{  subject.Name }}</h5>
              <div class="card-text text-black-50">Mã môn: {{ subject.Id }}</div>
            </div>
          </div>
        </div>
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
          <li class="page-item {{ afterPage.checked() ? 'disabled' : '' }}">
            <a class="page-link" href="#/category/{{ afterPage.page  }}" tabindex="-1" aria-disabled="true">Trước</a>
          </li>

          <li 
            ng-repeat="pagi in pagination track by $index" 
            class="page-item {{ $index + 1 == page ? 'active': '' }}"
          >
            <a class="page-link" href="#/category/{{ $index + 1 }}">
              {{ $index + 1 }}
            </a>
          </li>
          
          <li class="page-item {{ beforePage.checked()  ? 'disabled' : '' }}">
            <a class="page-link" href="#/category/{{ beforePage.page  }}">Sau</a>
          </li>
        </ul>
      </nav>
</div>