<div ng-controller="change-password" class="col-sm-9 col-md-7 col-lg-7 mx-auto">
    <div class="card">

        <!-- <p class="text-center w-responsive mx-auto pt-3 h4">Đổi mật khẩu</p> -->
        <h3 class="text-center alert bg-main text-light font-weight-bold">Đổi mật khẩu</h3>
        <!-- Card body -->
        <div class="card-body">
            <!-- Material form register -->
            <form class="validation" name="formChangePass" novalidate>
                <!-- Material input password -->
                <div class="md-form">
                    <!-- <i class="fa fa-envelope prefix grey-text"></i> -->
                    <input type="password" name="oldPassword" ng-model="oldPassword" class="form-control"
                        id="validationEmail" placeholder="Nhập mật khẩu cũ" required>
                    <div ng-show="formChangePass.oldPassword.$error.required  && !formChangePass.oldPassword.$untouched"
                        class="badge badge-danger font-italic">
                        Nhập mật khẩu cũ của bạn
                    </div>
                </div><br>
                <div class="md-form">
                    <!-- <i class="fa fa-envelope prefix grey-text"></i> -->
                    <input type="password" name="newPassword" ng-model="newPassword" class="form-control"
                        id="validationEmail" minLength="6" placeholder="Nhập mật khẩu mới" required>
                    <div ng-show="formChangePass.newPassword.$error.required  && !formChangePass.newPassword.$untouched"
                        class="badge badge-danger font-italic">
                        Nhập mật khẩu mới của bạn
                    </div>
                    <div ng-show="formChangePass.newPassword.$error.minlength  && !formChangePass.newPassword.$untouched"
                        class="badge badge-danger font-italic">
                        Vui lòng nhập mật khẩu mới trên sáu kí tự
                    </div>
                </div><br>
                <div class="md-form">
                    <!-- <i class="fa fa-envelope prefix grey-text"></i> -->
                    <input type="password" name="confirmPassword" ng-model="confirmPassword" class="form-control"
                        id="validationEmail" minLength="6" placeholder="Xác nhận mật khẩu mới" required>
                    <div ng-show="formChangePass.confirmPassword.$error.required  && !formChangePass.confirmPassword.$untouched"
                        class="badge badge-danger font-italic">
                        Nhập lại mật khẩu mới của bạn
                    </div>
                    <div ng-show="formChangePass.confirmPassword.$error.minlength  && !formChangePass.confirmPassword.$untouched"
                        class="badge badge-danger font-italic">
                        Vui lòng nhập lại mật khẩu mới trên sáu kí tự
                    </div>
                </div><br>
                <!-- Material input password -->

                <div class="text-center py-4 mt-3">
                    <button class="btn bg-main text-light waves-effect" id="buttonRegister" ng-click="changePassword()"
                        ng-disabled="formChangePass.$invalid" type="button">Đổi mật khẩu</button>
                </div>
                <div class="alert {{ error.className }}">
                    <p class="text-center font-weight-bold">{{ error.text }}</p>
                </div>
            </form>
            <!-- Material form register -->

        </div>
        <!-- Card body -->

    </div>
</div>