<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-main fixed-top">
  <div class="container">
    <a class="navbar-brand col-sm-3" href="#/">
      <img style="width: 100%;" src="../images/bg-fff.png" alt="BANNER">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav mr-auto w-100">
        <li class="nav-item active">
          <a class="nav-link  text-light" href="#/"><i class="fa fa-home"></i> Trang chủ <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link  text-light" href="#/contact"><i class="fa fa-phone"></i> Liên hệ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link  text-light" href="#/feedback"><i class="fa fa-comment"></i> Góp ý</a>
        </li>
        <li ng-show="userNameLoginSuccess" class="nav-item">
          <a class="nav-link  text-light" href="#/question"><i class="fa fa-question"></i> Hỏi đáp</a>
        </li>
        <li ng-show="userNameLoginSuccess" class="nav-item">
          <a class="nav-link  text-light" href="#/category/1"><i class="fa fa-bars"></i> Danh mục</a>
        </li>
        <li class="nav-item dropdown ml-auto">
          <a class="nav-link text-light dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" style="cursor: pointer;">
            {{ userNameLoginSuccess.length > 0 ? userNameLoginSuccess: 'Tài khoản' }}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <!-- DON'T LOGIN -->
            <a ng-show="!userNameLoginSuccess" class="dropdown-item" href="#/login">Đăng nhập</a>
            <a ng-show="!userNameLoginSuccess" class="dropdown-item" href="#/forgot-pass">Quên mật khẩu</a>

            <a ng-show="!userNameLoginSuccess" class="dropdown-item" href="#/register">Đăng ký thành viên</a>
            
            <!-- LOGIN SUCCESS -->
            <a ng-show="userNameLoginSuccess" style="cursor: pointer;" class="dropdown-item" ng-click="logout()">Đăng xuất</a>
            <a ng-show="userNameLoginSuccess" class="dropdown-item" href="#/change-password">Đổi mật khẩu</a>
            <a ng-show="userNameLoginSuccess" class="dropdown-item" href="#/update-user">Cập nhật hồ sơ</a>
            <!-- <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Đơn hàng</a>
            <a class="dropdown-item" href="#">Hàng đã mua</a> -->
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- Page Content -->
<section class="py-4 mb-5"></section>